doctype html
html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(charset="UTF-8")
        title Pepel comonents
        link(rel="stylesheet", href="css/style.css")
        
    body
        .content
            .wrapper
                include template/header.pug
                main
                    include template/clan-info.pug



        //include components/preloader/preloader.pug
        script(src="js/script.js")
